body {
	margin: 40px;
}
input {
	padding: 0 3px;
	width: calc(300px - 6px);
	height: 2em;
	border: none;
	border-bottom: 1px solid #ccc;
}
.todo {
	padding: 0;
	width: 300px;
}
.todo li {
	margin: 10px 0px;
	padding: 10px;
	list-style-type: none;
	border: 1px solid #222;
	cursor: pointer;
}
.todo li:hover {
	background-color: #eee;
}
